<%= render 'post', book: Book.new %>
<div class="col-md-8 offset-md-1">
    <h2>Book detail</h2>
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <%= link_to user_path(@book) do %>
                      <%= image_tag current_user.get_profile_image(100, 100) %>
                      <%= @book.user.name %>
                    <% end %>
                </td>
                <td>
                    <%= link_to book_path(@book) do %>
                    <%= @book.title %>
                    <% end %>
                </td>
                <td><%= @book.body %></td>
                <% if user_signed_in? %>
                <td>
                  <%= link_to 'Edit', edit_book_url, class: 'btn btn-sm btn-success' %>
                </td>
                <% end %>
            </tr>
        </tbody>
    </table>
</div>
</div>
</div>
        